
<div class="container text-center">
  <h1>Coaching - answer</h1>

  <div class="wrapper">
    <h3><%= params[:query] %></h3>
    <p><em><%= @answer %></em></p>
  </div>
  <div class="btn btn-default"><%= link_to "Ask a new question", ask_path %></div>
</div>
